img {
    max-width: 50%;
    margin-left: 23%;
    margin-right: 15%;


}
h2{
    background-color: papayawhip;
    margin-left: 23%;
    margin-right: 20%;
} 
body{
    background-color: silver;
    margin-left: 15%;
    margin-right: 15%;
}

p {

    .shoesPic{
        height: 50px;
        width: 50px;
    }
    
}